{% extends 'usuarios/base.html' %}
{% block title %}Nuevo Producto{% endblock %}
{% block content %}
<h2>Agregar Producto</h2>
<form method="POST">
    {% csrf_token %}
    <label>Nombre:</label><input type="text" name="nombre" required><br>
    <label>Descripción:</label><textarea name="descripcion"></textarea><br>
    <label>Precio:</label><input type="number" step="0.01" name="precio" required><br>
    <label>Stock:</label><input type="number" name="stock" min="0" required><br>
    <button type="submit" class="boton">Guardar</button>
    <a href="{% url 'productos' %}" class="boton">Volver</a>
</form>
{% endblock %}
